<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Rosa Espino</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('rosesp.static',filename='css/all.css')}}">
<style>
</style>
</head>
<body>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<section class="content">
  <header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item" href="{{url_for('rosesp.get_parameters')}}">
        Generar poema
      </a>

      <a class="navbar-item" href="{{url_for('rosesp.list_poems')}}" >
        Lista de poemas
      </a>
    </div>
  </div>
</nav>
<section class="hero is-primary">
  <div class="hero-body">
  {% block header %}{% endblock %}
  </div>
</section>
</header>

  <div class="content">	
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <section class="section">
  {% block content %}{% endblock %}
  </section>
  </div>


</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Webapp de Rosa Espino</strong> by <a href="https://turing.iimas.unam.mx/~ivanvladimir">Ivan Vladimir</a> from <a href="https://l52mas.gitlab.io/">Laboratorio L52+</a>. The source code is licensed
      <a href="https://gitlab.com/l52mas/hf_website/-/blob/main/LICENSE">GPL v3.0</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

</body>
</html>
