{% extends 'base.html' %}

{% block title %}Edita un poema{% endblock %}


{% block header %}
    <p class="title">
    Este es un poema al estilo de Rosa Espino
    </p>
    <p class="subtitle">
    Aquí la información
    </p>
{% endblock %}


{% block content %}


<textarea id="editor" class="textarea" rows="20">
{{poem | safe }}
</textarea>

<div class="field is-grouped">
    <div class="control">
        <a id="save" href="javascript:savePoem()" class="button is-link">Guardar</a>
    </div>
</div>


<script language="javascript"> 
   function savePoem(){
        $.ajax(
                   { url: "{{url_for('rosesp.update_poem')}}",
                     type: "POST",
                           data:  JSON.stringify({ poem: unescape($('#editor').val().replace("\n","<br>")), id: "{{poem_id}}" }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function( data ) {
                        }});
   }
</script>
{% endblock %}


