{% extends 'base.html' %}

{% block title %}Lista de poemas{% endblock %}

{% block header %}
    <p class="title">
    Estos poemas fueron hechos al estilo de Rosa Espino
    </p>
    <p class="subtitle">
    En orden de creación
    </p>
{% endblock %}


{% block content %}
{{ pagination.info }}
{{ pagination.links }}

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Poem</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
{% for poem in poems%}
<tr>
  <td>{{ loop.index + pagination.skip }}</td>
  <td>{{poem.poem[:100]}}</td>
  <td><a href="{{url_for('rosesp.show_poem',uuid=poem.uuid)}}">Link</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{{ pagination.links }}

{% endblock %}
