{% extends 'base.html' %}

{% block title %}Selecciona un poema{% endblock %}

{% block header %}
    <p class="title">
    Genera un poema
    </p>
    <p class="subtitle">
    Selecciona una configuración
    </p>
{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('rosesp.show_gen_poems')}}">
    {{ form.csrf_token }}
    <div class="field">
      <label class="label">{{ form.model.label }}</label>
      <p class="help">Selecciona al modelo generativo a usar para generar el poema</p>
      <div class="control">
        {{ form.model() }}
      </div>
    </div>
    <div class="columns">
    <div class="column">
    <div class="field">
      <label class="label">{{ form.title.label }}</label>
      <p class="help">Propón un título para tu poema</p>
      <div class="control">
        {{ form.title(size=110) }}
      </div>
    </div>
    </div>
    <div class="column">
    <div class="field">
      <label class="label">{{ form.seed.label }}</label>
      <p class="help">"Fija" un número para generar tus poemas [opcional]</p>
      <div class="control">
        {{ form.seed() }}
      </div>
    </div>
    </div>
    </div>

    <div class="field">
      <label class="label">{{ form.firstlines.label  }}</label>
      <p class="help">Propón las primeras líneas de tu poema [opcional]</p>
      <div class="control">
        {{ form.firstlines(rows=4,cols=120) }}
      </div>
    </div>
    <div class="columns">
    <div class="column">
    <div class="field">
      <label class="label">{{ form.max_length.label  }}</label>
      <p class="help">La lóngitud máxima del poem en "subpalabras" [opcional]</p>
      <div class="control">
        {{  form.max_length() }}
      </div>
    </div>
    </div>
    <div class="column">
    <div class="field">
      <label class="label">{{ form.min_length.label  }}</label>
      <p class="help">La lóngitud mínima del poema en "subpalabras" [opcional]</p>
      <div class="control">
        {{  form.min_length() }}
      </div>
    </div>
    </div>
    </div>
    <div class="columns">
    <div class="column">
    <div class="field">
      <label class="label">{{ form.num_beams.label   }}</label>
      <p class="help">Numero de opciones paralelas a explorar durante generación [opcional]</p>
      <div class="control">
        {{  form.num_beams() }}
      </div>
    </div>
    </div>
    <div class="column">
    <div class="field">
      <label class="label">{{  form.temperature.label  }} </label>
      <p class="help">Valor de temperatura a usar durante la generación [opcional]</p>
      <div class="control">
        {{ form.temperature() }}
      </div>
    </div>
    </div>
    </div>

    <div class="columns">
    <div class="column">
    <div class="field">
      <label class="label">{{ form.top_k.label  }} </label>
      <p class="help">Numero de palabras más frecuentes a conservar durante muestreo [opcional]</p>
      <div class="control">
        {{ form.top_k() }}
      </div>
    </div>
    </div>
    <div class="column">
    <div class="field">
      <label class="label">{{ form.top_p.label  }} </label>
      <p class="help">Porcentaje acumilado de palabras más frecuentes a conservar durante muestreo [opcional]</p>
      <div class="control">
        {{ form.top_p() }}
      </div>
    </div>
    </div>
    </div>

    <div class="columns">
    <div class="column">
    <div class="field">
      <label class="label">{{ form.no_repeat_ngram_size.label }} </label>
      <p class="help">Secuencia de "subpalabras" a usar para descartar repeticiones [opcional]</p>
      <div class="control">
        {{ form.no_repeat_ngram_size() }}
      </div>
    </div>
    </div>
    <div class="column">
    <div class="field">
      <label class="label">{{ form.num_return_sequences.label  }} </label>
      <p class="help">Número de poemas a regresar [opcional]</p>
      <div class="control">
            {{ form.num_return_sequences() }}
      </div>
    </div>
    </div>
    </div>
            <div class="field is-grouped">
    <div class="control">
    <input class="button is-link" type="submit" value="Generar">
</form>

{% endblock %}
