{% extends 'base.html' %}

{% block title %}Muestra poemas generados{% endblock %}

{% block header %}
    <p class="title">
    Estos son los poemas generados automáticamente
    </p>
    <p class="subtitle">
    ...
    </p>
{% endblock %}


{% block content %}

{% for poem in info.poems %}

<p><pre>{{poem}}</pre></p>

<p>
</p>

<div class="field is-grouped">
    <div class="control">
        <a id="poem{{loop.index}}save" href="javascript:savePoem({{loop.index}},unescape('{{poem.replace("\n","<br>")}}'))" class="button is-link">Guardar</a>
    </div>
    <div class="control">
        <a class="button is-succcess" id="poem{{loop.index}}link" disabled >Link a poema</a>
    </div>
</div>


{% endfor %}

<script language="javascript"> 
   function savePoem(ipoem, poem){
        $.ajax(
                   { url: "{{url_for('rosesp.save_poem')}}",
                     type: "POST",
                    data:   JSON.stringify({ poem: poem }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function( data ) {
                            $("#poem"+ipoem+"link").attr("href", "{{url_for('rosesp.show_poem',uuid='none')}}".replace("none",data.uuid));
                            $("#poem"+ipoem+"link").attr("disabled",false);
                        }});
	    $("#poem"+ipoem+"save").attr("disabled", true);
   }
</script>



{% endblock %}
