{% extends 'base.html' %}

{% block title %}Muestra poemas generados{% endblock %}

{% block header %}
    <p class="title">
    Este es un poema al estilo de Rosa Espino
    </p>
    <p class="subtitle">
    Aquí la información
    </p>
{% endblock %}


{% block content %}

<p>
<pre>
{{poem | safe }}
</pre>
</p>

<div class="field is-grouped">
    <div class="control">
        <a class="button is-link" href="{{url_for('rosesp.edit_poem',uuid=uuid)}}" >Editar</a>
 
    </div>
 
</div>


<script language="javascript"> 
</script>



{% endblock %}
