@charset "UTF-8"
@import "_vars.sass"
@import "bulma.sass"

.hero.is-primary .title 
    color: $redish-invert 

.hero.is-primary .subtitle 
    color: $redish-invert 


.navbar-item, .navbar-link
    color: $redish-invert

.pagination-page-info 
    padding: .6em
    padding-left: 0
    width: 40em
    margin: .5em
    margin-left: 0
    font-size: 12px

.pagination-page-info b 
    color: black
    background: $redish-invert
    padding-left: 2px
    padding: .1em .25em
    font-size: 150%

.pagination ul
    display: inline-block
    padding: 0
    margin: 0

.pagination ul li
    display: inline


.pagination ul li a
  color: black
  float: left
  padding: 8px 16px
  text-decoration: none

